{% extends "layout.html" %}
{% block content %}
	<div class="padding">
		&nbsp;
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/luke.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>Luke Rydeard</h5>
						Lead Lead & Architecture Lead
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/ben.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>Ben Aldridge</h5>
						Programming Lead
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/martin.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>Martin Burrows</h5>
						Planning and Risk Management Lead
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/ollie.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>Ollie Dickson</h5>
						Art Lead & 2nd Lead Lead
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/sam.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>Sam Pawlikowski</h5>
						Testing Lead
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card paper-shadow" style="width: 20rem;">
					<img class="card-img-top" src="static/david.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">
						<h5>David Clarke</h5>
						Devops & Architecture
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>

{% endblock %}