{% extends "layout.html" %}
{% block content %}
	<div class="padding">
		&nbsp;
	</div>
	
	<div class="container">
	
		<h2>Assessment 1 Resources</h2>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Architecture document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i> <!--photo-->
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Method Selection and planning document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Requirements document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Risk assessment and mitigation document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
	</div>

{% endblock %}