{% extends "layout.html" %}
{% block content %}
	<div class="padding">
		&nbsp;
	</div>
	
	<div class="container">
	
		<h2 class="content-title">Assessment 2 Resources</h2>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Architecture report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i> <!--photo-->
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Implementation report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">games</i> <!--photo-->
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Executable</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Graphical User Interface report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Testing report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col align-middle">
						<h5 style="padding-top:12px;">Updates on assessment 1 deliverables</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
	</div>
{% endblock %}