{% extends "layout.html" %}
{% block content %}
	<div class="padding">
		&nbsp;
	</div>
	
	<div class="container">
	
		<h2 class="content-title">Assessment 1 Resources</h2>
		<br>
		<a href="/content/Arch1.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Architecture document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Plan1.pdf">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i> <!--photo-->
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Method Selection and planning document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Req1.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Requirements document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Risk1.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Risk assessment and mitigation document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<h2 class="content-title">Assessment 1 Extras</h2>
		<br>
		<a href="https://docs.google.com/a/york.ac.uk/spreadsheets/d/11NNjvenq0gTta2dcQxxmluznd9xA3Oe9EsYfJGzJJSA/edit?usp=sharing">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">events</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Gantt Charts</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Usecase1.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Use Case Document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Prototype1.png">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">photo</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Image of Paper Prototype</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		
	</div>

{% endblock %}