{% extends "layout.html" %}
{% block content %}
	<div class="padding">
		&nbsp;
	</div>
	
	<div class="container">
	
		<h2 class="content-title">Assessment 2 Resources</h2>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Architecture report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i> <!--photo-->
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Implementation report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">games</i> <!--photo-->
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Executable</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Graphical User Interface report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Testing report</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="#">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Updates on assessment 1 deliverables</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<h2 class="content-title">Updated Assessment 1 Deliverables</h2>
		<br>
		<a href="/content/Req1.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Requirements document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Plan1.pdf">
			<div class="paper-shadow" style="background-color: #ffffff;">
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i> <!--photo-->
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Method Selection and planning document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/Risk1U.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Risk assessment and mitigation document</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<h2 class="content-title">Assessment 2 Extras</h2>
		<br>
		<a href="/content/AbstractScope2.png">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">photo</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Updated Abstract Architecture (Limited scope)</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
		<a href="/content/UnitTestRes2.pdf">
			<div class="paper-shadow align-middle" style="background-color: #ffffff;">
				
				<div class="row" style="padding:10px;">
					<div class="col-1 d-none d-md-block d-lg-block d-xl-block">
						<i class="material-icons md-48">description</i>
					</div>
					<div class="col-11 align-middle">
						<h5 style="padding-top:12px;">Unit Test Results</h5>
					</div>
				</div>
			</div>
		</a>
		<br>
	</div>
{% endblock %}