{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/luke.jpg">
				<span class="card-title">Luke Rydeard</span>
			</div>
			<div class="card-content">
				<p>Lead Lead & Architecture Lead</p>
			</div>
			<div class="card-action">
				<a href="mailto:lrr518@york.ac.uk">lrr518@york.ac.uk</a>
			</div>
		</div>
	</div>
	<div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/ben.jpg">
				<span class="card-title">Ben Aldridge</span>
			</div>
			<div class="card-content">
				<p>Testing Lead</p>
			</div>
			<div class="card-action">
				<a href="mailto:ba727@york.ac.uk">ba727@york.ac.uk</a>
			</div>
		</div>  
	</div>
	<div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/martin.jpg">
				<span class="card-title">Martin Burrows</span>
			</div>
			<div class="card-content">
				<p>Planning and Risk Management Lead</p>
			</div>
			<div class="card-action">
				<a href="mailto:mtb518@york.ac.uk">mtb518@york.ac.uk</a>
			</div>
		</div>   
	</div>
    <div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/ollie.jpg">
				<span class="card-title">Ollie Dickson</span>
			</div>
			<div class="card-content">
				<p>Art Lead & 2nd Lead Lead</p>
			</div>
			<div class="card-action">
				<a href="mailto:odd502@york.ac.uk">odd502@york.ac.uk</a>
			</div>
		</div>
	</div>
	<div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/sam.jpg">
				<span class="card-title">Sam Pawlikowski</span>
			</div>
			<div class="card-content">
				<p>Programming Lead</p>
			</div>
			<div class="card-action">
				<a href="mailto:sjp573@york.ac.uk">sjp573@york.ac.uk</a>
			</div>
		</div>  
	</div>
	<div class="grid-example col s12 m4">
		<div class="card">
			<div class="card-image">
				<img src="static/david.jpg">
				<span class="card-title">David Clarke</span>
			</div>
			<div class="card-content">
				<p>Devops & Architecture</p>
			</div>
			<div class="card-action">
				<a href="mailto:dac531@york.ac.uk">dac531@york.ac.uk</a>
			</div>
		</div>   
	</div>
</div>
<br>



<div class="row" id="contact">
	<div class="col s12">
		<div class="card">
			<div class="card-content" style="width=100%">
			<span class="card-title flow-text"><b>Contact us</b></span>
				<br>
				<ul class="collection">
					<li class="collection-item row">
						<i class="left medium material-icons">chat</i>
						<span class="title"><b>Arrange a meeting</b></span>
						<p>Drop Luke a line</p>
					</li>
					<li class="collection-item row">
						<i class="left medium material-icons">chat</i>
						<span class="title"><b>Discover our code</b></span>
						<p>Send Sam a mail</p>
					</li>
					<li class="collection-item row">
						<i class="left medium material-icons">chat</i>
						<span class="title"><b>Making models?</b></span>
						<p>Give David a DM</p>
					</li>
				</ul>
			</div>
			<br>
		</div>
	</div>
</div>
<br>
<br>
{% endblock %}