{% extends "layout.html" %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">expand_more</i>Assessment 1 Resources</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="/content/Arch1.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Architecture Document</span>
					<p class="grey-text">Updated 8 Nov 2017, 10:21</p>
				</li>
			</a>
			<a href="/content/Plan1.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Method Selection and planning document</span>
					<p class="grey-text">Added 7 Nov 2017, 14:40 GMT</p>
				</li>
			</a>
			<a href="/content/Req1.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Requirements document</span>
					<p class="grey-text">Updated 8 Nov 2017, 10:21</p>
				</li>
			</a>
			<a href="/content/Risk1.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Risk assessment and mitigation document</span>
					<p class="grey-text">Added 7 Nov 2017, 14:40 GMT</p>
				</li>
			</a>
		</ul>
	  
	  </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Assessment 1 Extras</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="https://docs.google.com/a/york.ac.uk/spreadsheets/d/11NNjvenq0gTta2dcQxxmluznd9xA3Oe9EsYfJGzJJSA/edit?usp=sharing">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">timeline</i>
					<span class="title black-text">Gantt Charts</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Usecase1.pdf">
				<li class="collection-item avatar"> 
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Use case document</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Prototype1.png">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">photo</i>
					<span class="title black-text">Image of paper prototype</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
		</ul>	  
	  
	  </div>
    </li>
</ul>

{% endblock %}