{% extends "layout.html" %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">expand_more</i>Assessment 2 Resources</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="/content/Arch2.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Architecture report</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Impl2.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Implementation report</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="#!">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">games</i>
					<span class="title black-text">Executable</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/GUI2.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Graphical User Interface report</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Test2.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Testing report</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
		</ul>
	  
	  </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Updated Assessment 1 Deliverables</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="/content/Req1U2.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Requirements document</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Plan1U2.pdf">
				<li class="collection-item avatar"> 
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Method selection and planning document</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/Risk1U2.png">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Risk assessment and mitigation document</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
		</ul>	  
	  
	  </div>
    </li>
	<li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Assessment 2 Extras</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="AbsArch2.png">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">photo</i>
					<span class="title black-text">Updated abstract architecture (Limited scope)</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
			<a href="/content/UnitT2.pdf">
				<li class="collection-item avatar"> 
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Unit test results</span>
					<p class="grey-text">First Line</p>
				</li>
			</a>
		</ul>	  
	  
	  </div>
    </li>
</ul>

{% endblock %}