{% extends "layout.html" %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">expand_more</i>Assessment 3 Resources</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="/content/Chan3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Change report</span>
					<p class="grey-text">Added 19 Feb 2018, 01:36 GMT</p>
				</li>
			</a>
			<a href="/content/Impl3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Implementation report</span>
					<p class="grey-text">Added 19 Feb 2018, 01:34 GMT</p>
				</li>
			</a>
			<a href="/content/Build03.zip">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">games</i>
					<span class="title black-text">Executable Download</span>
					<p class="grey-text">Added 19 Feb 2018, 01:24 GMT</p>
				</li>
			</a>
			<a href="/content/GUI3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">GUI Report</span>
					<p class="grey-text">Added 18 Feb 2018, 23:51 GMT</p>
				</li>
			</a>
			<a href="/content/Meth3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Methods Document</span>
					<p class="grey-text">Added 19 Feb 2018, 01:42 GMT</p>
				</li>
			</a>
			<a href="/content/Test3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Testing Report</span>
					<p class="grey-text">Updated 19 Feb 2018, 11:25 GMT</p>
				</li>
			</a>
			<a href="/content/Risk3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Risk Assessment</span>
					<p class="grey-text">Added 18 Feb 2018, 23:51 GMT</p>
				</li>
			</a>
			<a href="https://docs.google.com/document/d/187j4dOEtA9fz2VKJk6g35fn3R3CqCU7qC9SebunoDFE/edit?usp=sharing">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">User Manual</span>
					<p class="grey-text">Updated 18 Feb 2018, 23:57 GMT [Link updated, check content for version history]</p>
				</li>
			</a>
		</ul>
	  
	  </div>
    </li>
	<li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Assessment 3 Extras</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="https://docs.google.com/spreadsheets/d/1PXLIjwJtNB-7d3w3rADbcvFgGOfSD286wwnDMj3Ib7k/edit?usp=sharing">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Debug Tests Spreadsheet</span>
					<p class="grey-text">Added 19 Feb 2018, 01:49 GMT</p>
				</li>
			</a>
			<a href="https://docs.google.com/spreadsheets/d/1y8bav7AK3Zen4NJuNlf_A-K6hLMazjyxcAfqppaMoW0/edit?usp=sharing">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Tracibility Spreadsheet</span>
					<p class="grey-text">Added 19 Feb 2018, 01:49 GMT</p>
				</li>
			</a>
			<a href="/content/TestM3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Test Results</span>
					<p class="grey-text">Added 19 Feb 2018, 10:23 GMT</p>
				</li>
			</a>
			<a href="/content/TestO3.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Testing Outline</span>
					<p class="grey-text">Added 19 Feb 2018, 00:01 GMT</p>
				</li>
			</a>
			<a href="http://risk-assessment.my-free.website/">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">insert_link</i>
					<span class="title black-text">Original Group's Website</span>
					<p class="grey-text">Added 19 Feb 2018, 00:04 GMT [3rd Party Site; reliablity not assured]</p>
				</li>
			</a>
		</ul>
		
	</li>
</ul>

{% endblock %}