{% extends "layout.html" %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">expand_more</i>SEPR Assessment Feedback</div>
      <div class="collapsible-body">
		<ul class="collection">
			<a href="/content/feedback1.pdf">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Assessment 1 Feedback (79.5%)</span>
					<p class="grey-text">Added 20 Feb 2018, 17:42 GMT</p>
				</li>
			</a>
			<a href="/content/feedback2.txt">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Assessment 2 Feedback (86%)</span>
					<p class="grey-text">Added 20 Feb 2018, 17:42 GMT</p>
				</li>
			</a>
			<a href="#">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Assessment 3 Feedback (NA%)</span>
					<p class="grey-text">Not available yet</p>
				</li>
			</a>
			<a href="#">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Assessment 4 Feedback (NA%)</span>
					<p class="grey-text">Not available yet</p>
				</li>
			</a>
			<a href="/cats.html">
				<li class="collection-item avatar">
					<i class="material-icons circle blue large">description</i>
					<span class="title black-text">Cats Feedback (100%)</span>
					<p class="grey-text">Cats 4 lyfe</p>
				</li>
			</a>
		</ul>
	  
	  </div>
    </li>
</ul>

{% endblock %}