{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-image">
				<img src="content/maplong.PNG">
				<a class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse" href="about.html#contact"><i class="material-icons">mail_outline</i></a>
			</div>
			<div class="card-content flow-text blue-text lighten-5 grey">
				<b>Thank you for choosing Laser Dolphin Games!</b>
				<p>Drop us a line to arrange support and a handover meeting</p>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col s12">
		<div class="card lighten-5 grey">
			<div class="card-content blue-text">
				<span class="card-title">Version 1.1 Released</span>
				<p>Added new aesthetic assets, like roads, buildings, and lakes.</p>
			</div>
			<div class="card-action">
				<a href="https://github.com/SEPR-Team-Margaret/UniversityDomination/releases/tag/v1.1" class="green-text">github.com</a>
			</div>
		</div>
	</div>
</div>

<br>
<!--
<div>
	<img src="content/MAP.PNG" class="responsive-img center-align" style="max-height: 600px; display: block;  margin-left: auto; margin-right: auto;">
</div>
<h2 class="center"></h2>
-->
{% endblock %}